{% extends "login.html" %}

{% load static %}
{% block login %}
    <form method="POST">
        <h4 class="text-center mt-3"><strong>Cambiar contraseña</strong></h4>
        <p style="color: rgb(255, 0, 0); text-align: center;">Recuperaste acceso con contraseña temporal. Por seguridad, crea ahora una nueva contraseña personalizada. Gracias por tu comprensión.</p>
        <p class="mb-0"><strong>New password</strong></p>
        <input class="outlinenone mb-4 bg-light" type="password" name="newpassword"
            placeholder="Type your new password">
        <p class="mb-0">Confirm your new password</p>
        <input class="outlinenone mb-2 bg-light" type="Password" name="newpassword2"
            placeholder="Type your new Password">
        <input type="hidden" name="email" value="{{email}}">
        <input type="hidden" name="password" value="{{password}}">
        <button class="btn first mb-5 mt-5" type="submit">Confirmar</button>
        {% csrf_token %}
    </form>
{% endblock %}