<!doctype html>
<!-- {% load static %} -->
<html lang="en">

<head>
  <title>SoplaX</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../../static/css/index.css">
  <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body style="background-color: #000000;">
  <header style="background-color: #1A237E;">
   <div class="row"> 
      <div class="col-2">
        <img src="../../static/images/logo.png" style="margin-left: 10%;" width="75" alt="XXX">
      </div>
      <div class="col-2">
        <a class="a" href="/html/play.html">Seccion1</a>
      </div>
      <div class="col-2">
        <a class="a" href="">Seccion2</a>
      </div>
      <div class="col-2">
        <a class="a" href="">Seccion3</a>
      </div>
      <div class="col">
        <div class="input mt-3 ps-2 pt-1">
          <img width="25" src="https://cdn-icons-png.flaticon.com/512/64/64673.png">
          <input type="search" class="outlinenone" placeholder="Buscar" name="Buscar">
        </div>
      </div>
      <div class="col-2">
        <!-- {% if request.user.is_authenticated %} -->
        <div class="dropdown">
          <button class="btn button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <!-- {{ user }} -->
          </button>
          <ul class="dropdown-menu">
           <!-- Usuario admin -->
           <!-- {% if user.is_staff %}
            <li><a class="dropdown-item" href="/admin">Menu administrador</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="/logout">Cerrar Sesion</a></li>
          </ul>
        </div>
        {% else %}
        <a class="button mt-1" href="/login">¡Logueate!</a>
        {% endif %}
      </div>
    </div> -->
  </header>

      <!-- {% block body %} --> 
      <div>
        <div class="row pt-3 ms-5 me-5 text-center">
         <!-- {% for video in videos %} -->
          <div class="col-md-3">
            <a href="{% url 'play' id=video.id %}">
              <!-- <div class="cards ps-2 pe-2">
                <img src="{% static 'images/miniaturatemporal.png' %}" width="85%"> {{video.nombre}}
              </div> -->
            </a>
          </div>
          <!-- {% endfor %} --> 
        </div>
      </div>
      <!-- {% endblock %} -->
      

  <footer style="background-color: #1A237E;">
    <div>
        <h6 class="letricas">Hecho por un aprendiz SENA</h6>
          <div class="logito">
            <img src="../../static/images/logo-de-SENA-png-Negro-300x300.png" width="100">
            <img src="../../static/images/logo.png" width="100">
          </div>
    </div>

  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>
</html>