{% extends "index.html" %}
{% load static %}
{% block body %}
<main class="container-fluid pt-2" style="background-color: #101010;">
  <div class="row">
    <div class="d-none d-md-block col-12 col-md-5 text-center mb-2">
      {% if user.is_staff %}
      
      {% else %}
      <iframe src="//a.magsrv.com/iframe.php?idzone=5045098&size=728x90" width="100%" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      <iframe src="//a.magsrv.com/iframe.php?idzone=5045100&size=728x90" width="100%" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      {% endif %}
    </div>
    <div class="col-12 col-md-5 text-center mb-2">
      {% if user.is_staff %}
      
      {% else %}
      <iframe src="//a.magsrv.com/iframe.php?idzone=5045848&size=728x90" width="100%" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      <iframe src="//a.magsrv.com/iframe.php?idzone=5045850&size=728x90" width="100%" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      {% endif %}
    </div>
    <div class="col-2 d-none d-md-block">
      {% if user.is_staff %}
      
      {% else %}
      <iframe src="//a.magsrv.com/iframe.php?idzone=5045856&size=300x250" width="100%" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      {% endif %}
    </div>
    <div class="d-none d-md-block col-md-1">
      {% if user.is_staff %}
      
      {% else %}
      <iframe src="//a.magsrv.com/iframe.php?idzone=5045858&size=160x600" width="100%" height="600" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      {% endif %}
    </div>
    <div class="col-12 col-md-10">
      <div class="video-wrapper">
        <video id="my-video" controls="" style="width: 100%; height: 100%;">
          <source src="{{video.video.url}}" type="video/mp4">
        </video>
      </div>
      <div class="row">
        <div class="col-3">
          <iframe src="//a.magsrv.com/iframe.php?idzone=5045884&size=300x250" width="100%" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
        </div>
        <div class="col-3">
          <iframe src="//a.magsrv.com/iframe.php?idzone=5045886&size=300x250" width="100%" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
        </div>
        <div class="col-3">
          <iframe src="//a.magsrv.com/iframe.php?idzone=5045888&size=300x250" width="100%" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
        </div>
        <div class="col-3">
          <iframe src="//a.magsrv.com/iframe.php?idzone=5045890&size=300x250" width="100%" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
        </div>
      </div>
      <h1 style="color: white;">{{video.nombre}}</h1>
      <div class="description ps-2 pe-2">
        <p style="color: white;">{{video.descripcion}}</p>
      </div>
      <div class="d-flex justify-content-center">
        <iframe src="//a.magsrv.com/iframe.php?idzone=5045898&size=728x90" width="100%" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      </div>
    </div>
    {% if user.is_staff %}
      
    {% else %}
    <div class="d-none d-md-block col-md-1 text-center">
      <iframe src="//a.magsrv.com/iframe.php?idzone=5045866&size=160x600" width="100%" height="600" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
    {% endif %}
    </div>
  </div>
</main>

<script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>
<script type="application/javascript">
  var testVideo = fluidPlayer(
      "my-video",
      {
          vastOptions: {
              "adList": [
                  {
                      "roll": "preRoll",
                      "vastTag": "https://s.magsrv.com/splash.php?idzone=5045836"
                  },
                  {
                      "roll": "midRoll",
                      "vastTag": "https://s.magsrv.com/splash.php?idzone=5045836",
                      "timer": 8
                  },
                  {
                      "roll": "midRoll",
                      "vastTag": "https://s.magsrv.com/splash.php?idzone=5045836",
                      "timer": 10
                  },
                  {
                      "roll": "postRoll",
                      "vastTag": "https://s.magsrv.com/splash.php?idzone=5045836"
                  }
          ]
      }
}
  );
</script>

{% endblock %}