{% extends "index.html" %}
{% load static %}
{% block body %}
<main class="container-fluid">
  <div class="row">
      <h1 class="text-center">Anuncio Perron</h1>
      <div class="col-10">
        <video
          id="my-video"
          class="video-js"
          controls
          preload="auto"
          width="1280"
          height="720"
          poster="{{video.miniatura.url}}"
          data-setup="{}"
        >
          <source src="{{video.video.url}}" type="video/mp4" />
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank"
              >supports HTML5 video</a
            >
          </p>
        </video>
        <h1 class="text-center">{{video.nombre}}</h1>
        <p>{{video.descripcion}}</p>
      </div>
      <div class="col-2">
      <h1 class="text-center">Mas Anuncios MUAJA JAJAJA</h1>
      </div>
  </div>
</main>
{% endblock %}