{% extends "index.html" %}
{% load static %}
{% block body %}
<main class="container-fluid pt-2" style="background-color: #101010;">
  <div class="row">
    <div class="col-12 col-md-5 text-center mb-2">
      <iframe src="//a.magsrv.com/iframe.php?idzone=5044672&size=728x90" width="100%" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      <iframe src="//a.magsrv.com/iframe.php?idzone=5044676&size=728x90" width="100%" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
    </div>
    <div class="col-12 col-md-5 text-center mb-2">
      <iframe src="//a.magsrv.com/iframe.php?idzone=5044894&size=728x90" width="100%" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      <iframe src="//a.magsrv.com/iframe.php?idzone=5044896&size=728x90" width="100%" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
    </div>
    <div class="col-2 d-none d-md-block">
      <iframe src="//a.magsrv.com/iframe.php?idzone=5044680&size=300x250" width="100%" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
    </div>
      <div class="col-12 col-md-10">
        <div class="video-wrapper">
          <video
            id="my-video"
            class="video-js"
            controls
            preload="auto"
            width="1280"
            height="720"
            poster="{{video.miniatura.url}}"
            data-setup="{}"
          >
            <source src="{{video.video.url}}" type="video/mp4" />
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a
              web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
              >
            </p>
          </video>
        </div>
        <h1 style="color: white;">{{video.nombre}}</h1>
        <div class="description ps-2 pe-2">
          <p style="color: white;">{{video.descripcion}}</p>
        </div>
      </div>
      <div class="d-none d-md-block col-md-2">
        <iframe src="//a.magsrv.com/iframe.php?idzone=5044682&size=400x600" width="400" height="600" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      </div>
  </div>
</main>
<script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>
<script type="application/javascript">
  var testVideo = fluidPlayer(
      "my-video",
      {
          vastOptions: {
              "adList": [
                  {
                      "roll": "preRoll",
                      "vastTag": "https://s.magsrv.com/splash.php?idzone=5044936"
                  },
                  {
                      "roll": "midRoll",
                      "vastTag": "https://s.magsrv.com/splash.php?idzone=5044936",
                      "timer": 8
                  },
                  {
                      "roll": "midRoll",
                      "vastTag": "https://s.magsrv.com/splash.php?idzone=5044936",
                      "timer": 10
                  },
                  {
                      "roll": "postRoll",
                      "vastTag": "https://s.magsrv.com/splash.php?idzone=5044936"
                  }
          ]
      }
}
  );
</script>

{% endblock %}