{% extends "login.html" %}

{% load static %}
{% block login %}
    <form method="post">
        <h3 class="text-center mt-3"><strong>Recuperar contraseña</strong></h3>
        <p class="mb-3" style="color: rgb(255, 0, 0); text-align: center;">{{msg}}</p>
        <p class="mb-3"><strong>
                <h6>Ingrese su correo electronico para enviarle un codigo de verificacion y recuperar su
                    contraseña.</H6>
            </strong></p>
        <h5>Ingrese su correo electronico:</h5>
        <input name="email" class="outlinenone mb-4 bg-light" type="text">
        <div class="text-center mb-5">
            <button type="submit" class="btn first mt-3" id="btnmodal">Enviar</button>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}